html, body {
  overflow-x: hidden;
}

body {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 300;
  color: var(--secondary-light-color);
  background: var(--b-gray-1);
}

main {
  background: transparent;
}

h1 {
  font-size: 3rem;
  line-height: 3rem;
  margin: 30px 10px;
}

h2 {
  font-size: 2.4rem;
  line-height: 3.2rem;
  color: var(--secondary-dark-color);
  @media screen and (max-width: 700px) {
    font-size: 1.8rem;
    line-height: 2.2rem;
  }
}

h3 {
  font-size: 1.8rem;
  line-height: 1.8rem;
  color: var(--secondary-dark-color);
  @media screen and (max-width: 700px) {
    font-size: 1.4rem;
    line-height: 1.4rem;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

button,
input[type='submit'] {
  background: transparent;
  padding: 14px 40px;
  border: 1px solid var(--main-light-color);
  border-radius: 3px;
  color: var(--main-light-color);
  margin: 20px 10px;
}

button {
  i + span {
    margin-left: 20px;
  }
}