@import '../../styles/variables';

.hero {
  height: calc(100vh - 60px - 180px);
  color: var(--main-light-color);
  font-size: 1.1rem;
  text-align: center;
  @media screen and (max-width: 700px), (max-height: 520px) {
    height: auto;
    padding: 40px;
    margin-top: 0;
  }
  p {
    margin-bottom: 10px;
  }
  button {
    width: 200px;
    @media screen and (max-width: 700px) {
      width: 100%;
      margin: 10px auto;
    }
    &:first-child {
      background: var(--main-light-color);
      color: var(--main-dark-color);
    }
  }
}