main {
  background: transparent;
}

.hero {
  margin: 30vh auto;
  color: var(--main-light-color);
  font-size: 1.1rem;
  p {
    margin-bottom: 10px;
  }
  button {
    width: 200px;
    &:first-child {
      background: var(--main-light-color);
      color: var(--main-dark-color);
    }
  }
}

.card,
.mini-wrapper {
  width: var(--card-size);
}

.card {
  background: var(--main-light-color);
  border-radius: 10px;
  margin-bottom: 10px;
  overflow: hidden;
  box-shadow: 0 2px 2px var(--b-gray-2);
  margin-bottom: 30px;
  text-align: center;
  &:last-of-type {
    margin-bottom: 60px;
  }
  &.mini {
    width: calc(50% - 15px);
  }
  img {
    width: 100%;
  }
  .card-content {
    padding: 60px;
    gap: 20px;
    button {
      border-color: var(--b-gray-1);
      border-width: 2px;
      color: var(--secondary-light-color);
      margin: 10px 0 0;
    }
    
  }
}

.special {
  padding: 20px 140px;
  text-align: center;
  p {
    margin: 34px 34px 0;
    padding-top: 34px;
    border-top: 2px solid var(--b-gray-2);
    font-weight: 300;
    font-size: 1.1rem;
    text-align: justify;
    text-align-last: center;
  }
}