body {
    font-size: 1rem;
    color: var(--secondary-light-color);
    background: var(--b-gray-1);
}

h1 {
  font-size: 3rem;
  margin: 30px 10px;
}

h2 {
  font-size: 2.4rem;
  color: var(--secondary-dark-color);
  background: pink;
  padding: 30px;
  &::after {
    display: block;
    content: "";
    width: 800px;
    height: 2px;
    background: var(--b-gray-1);
  }
}

h3 {
  font-size: 2.2rem;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  background: transparent;
  padding: 10px 20px;
  min-width: 200px;
  border: 1px solid var(--main-light-color);
  border-radius: 3px;
  color: var(--main-light-color);
  margin: 30px 10px;
  overflow: none;
}