.f-f {
  display: flex;
}

.f-jc {
  justify-content: center;
}

.f-jsb {
  justify-content: space-between;
}

.f-aic {
  align-items: center;
}

.f-ais {
  align-items: stretch;
}

.f-dr {
  flex-direction: row;
}

.f-dc {
  flex-direction: column;
}

.f-w {
  flex-wrap: wrap;
}