.contact {
  margin: 30px auto;
  form {
    margin: 10px auto;
    padding: 30px;
    gap: 10px;
    width: calc(var(--card-size) - 380px);
    @media screen and (max-width: 700px) {
      width: calc(100% - 40px);
      padding: 40px 20px;
    }
    div {
      gap: 10px;
      input {
        flex-grow: 1;
      }
    }
    input[type='text'],
    input[type='email'],
    textarea {
      border: 1px solid var(--b-gray-2);
      border-radius: 3px;
      background: var(--b-gray-1);
      padding: 12px;
      color: var(--b-gray-7);
      outline: none;
    }
    input[type='submit'] {
      background: var(--secondary-dark-color);
      border-color: var(--secondary-dark-color);
      width: 180px;
      margin: 0 auto;
      @media screen and (max-width: 400px) {
        width: 100%;
      }
    }
  }
}

#confirmation {
  background: var(--accent-color);
  border-radius: 3px;
  color: var(--main-light-color);
  font-weight: 400;
  min-width: 200px;
  padding: 8px 0;
  margin: 0 auto;
  display: none;
  &.success {
    display: block;
  }
}

