.banner {
  width: 100%;
  height: 100vh;
  background: url('../../img/water-unsplash-2.jpg');
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.menu {
  width: 100%;
  padding: 0 30px;
  box-sizing: border-box;
  background: transparent;
  transition: background-color 0.2s ease-in-out;
  position: relative;
  &.accent {
    background: var(--accent-color);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
  }
  img {
    height: 60px;
  }
  nav {
    height: 60px;
    font-size: 1.1rem;
    transition: transform 0.2s ease-in;
    li {
      border: 1px solid transparent;
      border-radius: 3px;
      padding: 6px 14px;
      color: var(--main-light-color);
      &:last-child {
        border-color: var(--main-light-color);
      }
      &:hover {
        text-decoration: underline;
      }
    }
    @media screen and (max-width: 700px) {
      position: absolute;
      top: 0;
      right: 0;
      transform: translateX(120%);
      width: 240px;
      background: var(--b-gray-9);
      height: 100vh;
      align-items: flex-start;
      padding-top: 25px;
      box-shadow: -3px 0 5px #222;
      li {
        width: 100%;
        border-bottom: 1px solid var(--b-gray-8);
        &:last-child {
          border-color: transparent;
        }
      }
    }
    &.visible {
      transform: translateX(0);
    }
  }
}

.burger {
  @include square(50px);
  background: rgba(100, 100, 100, 0.5);
  border-radius: 3px;
  font-size: 1.6rem;
  color: var(--main-light-color);
  transition: transform 0.2s ease-in;
  position: relative;
  z-index: 2;
  @media screen and (min-width: 700px) {
    position: absolute;
    top: 0;
    right: 0;
    transform: translateX(100%);
  }
}

.rotate {
  transform: rotate(90deg);
}
