.newsletter {
  padding: 60px 10px;
  background: var(--accent-color);
  color: var(--main-light-color);
  gap: 30px;
  text-align: center;
  h2 {
    color: inherit;
  }
  form {
    width: 100%;
    gap: 20px;
  }
  input[type='email'] {
    background: var(--light-accent-color);
    border: none;
    outline: none;
    width: 300px;
    height: 39px;
    border-radius: 3px;
    padding: 6px 20px;
    color: var(--main-light-color);
    @media screen and (max-width: 700px) {
      width: calc(100% - 200px);
    }
  }
  input[type='submit'] {
    background: var(--main-light-color);
    color: var(--accent-color);
    margin: 0;
  }
  @media screen and (max-width: 400px) {
    input[type='email'],
    input[type='submit'] {
      width: 100%;
    }
  }
}
