@import '../../styles/variables';

.stats {
  text-align: left;
  box-sizing: border-box;
  .card-content {
    overflow-x: auto;
  }
  @media screen and (max-width: 1000px) {
    padding: 30px 10px;
  }
  @media screen and (max-width: 700px) {
    padding: 20px 0;
    margin-bottom: 0;
  }
  h3 {
    margin-bottom: 20px;
  }
}

table {
  border-collapse: collapse;
  width: 100%;
  overflow: scroll;
}

thead {
  font-size: 0.9rem;
  border-bottom: 2px solid var(--b-gray-3);
  color: var(--secondary-dark-color);
}

tbody {
  tr {
    border-bottom: 1px solid var(--b-gray-2);
    &:last-of-type {
      border: none;
    }
    &:nth-child(odd) {
      background: var(--b-gray-1);
    }
  }
}

td,
th {
  padding: 12px 18px;
}

tfoot {
  border-top: 2px solid var(--b-gray-2);
  font-weight: 600;
}
