:root {
    
    --main-dark-color:        #0E1525;
    --main-light-color:       #f9f9f9;
    --secondary-dark-color:   #646464;
    --secondary-light-color:  #777777;
    --accent-color:           #0648a4;

    --b-gray-1: #e6e7e9;
    --b-gray-2: #cfd0d3;
    --b-gray-3: #b6b8bd;
    --b-gray-4: #9fa1a8;
    --b-gray-5: #868a92;
    --b-gray-6: #6e737c;
    --b-gray-7: #565b66;
    --b-gray-8: #3e4451;
    --b-gray-9: #262c3a;

}