:root {
    
    --main-dark-color:        #0E1525;
    --main-light-color:       #f9f9f9;
    --secondary-dark-color:   #646464;
    --secondary-light-color:  #777777;
    --accent-color:           #0648a4;
    --light-accent-color:     #2b63b2;

    --b-gray-1: #eee;
    --b-gray-2: #ddd;
    --b-gray-3: #ccc;
    --b-gray-4: #bbb;
    --b-gray-5: #aaa;
    --b-gray-6: #999;
    --b-gray-7: #888;
    --b-gray-8: #555;
    --b-gray-9: #333;

    --card-size: 1000px;    

}